* {
    background-color: antiquewhite;
}

.description {
    background-color: aquamarine;
    text-align: center;
}

.ingredients {
    background-color: rgb(255, 182, 127);
    text-align: center
}

.steps {
    background-color: rgb(243, 243, 142);
    text-align: center;
}

.title {
    text-align: center;
    background-color: white;
}

